SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=CMS_STARS_ANALYST
SNOWFLAKE_WAREHOUSE=CMS_STARS_WH
SNOWFLAKE_DATABASE=CMS_STARS_DB
SNOWFLAKE_SCHEMA=SCHEMA_GOLD
SNOWFLAKE_AUTHENTICATOR=

CORTEX_LLM_MODEL=mistral-large2
CORTEX_EMBED_MODEL=snowflake-arctic-embed-l-v2.0
MEASUREMENT_YEAR=2024
